body
{
    font-family: sans-serif;
}
h1
{
    color:  #2C3E50;
    text-align: center;
    font-size: 3em;
}
p
{
    font-size: 1.1em;
    line-height: 1.8em;
    color: #4C5F70;
}
h2
{
    color: darkgreen;
    text-align: left;
    text-decoration: underline;
}

.dampak-penting 
{
    background-color: #F8F9FA;
    padding: 15px;
    border-left: 5px solid red;
    font-weight: bold;
}
#penutup
{
    text-align: right;
    font-style: italic;
    margin-top: 30px;
} 
#sumber 
{
    color: skyblue;
    text-decoration: none;
    font-weight: bold;
}