body
{
    margin: 0;
    font-family: sans-serif;
    background-color: white ;
}
h1
{
    text-align: center;
    color: #333;
    margin-bottom: 40px;
}
.product-card
{
    background-color: #f4f4f4;
    border: 1px solid#ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.product-card img
{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.product-card button
{
    background-repeat: repeat;
    background-size: auto;
}